html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #141414;
	background-image: url(../images/bg1.jpg);
	background-position: center center;    
 	background-repeat: no-repeat;    
  	background-attachment: fixed;    
	background-size: cover;
	font-size: 100%;
}

@media only screen and (max-width: 1025px){
	body{
		font-size: 80%;
	}
}

@media only screen and (max-width: 769px){
	body{
		font-size: 60%;
	}
}

@media only screen and (max-width: 426px){
	body{
		font-size: 40%;
	}
}

@media only screen and (max-width: 376px){
	body{
		font-size: 25%;
	}
}

.divider{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* Header */
.header{
	position: absolute;
	top: 15px;
	right: 30px;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */
.nav{
	font-size: 1.17em;
	text-transform: uppercase;
}

.dslogo{
	width: 3.125em;
	height: 3.125em;
}

.youlogo{
	width: 3.75em;
	height: 2.813em;
}

.nav__link{
	display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    position: relative;

    color: yellow;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;

    background-color: #0099ff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}

.nav__link:hover{
    color: #0099ff;
}

.nav__link:hover:after{
    display: block;
    opacity: 1;
}

/* Intro */
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100%;
}


.intro__title {
	font-size: 4.813em;
	text-align: center;
	color: #3333cc;
	text-transform: uppercase;
	font-family: 'Holtwood One SC', serif;
	animation: neon .08s ease-in-out infinite alternate;
}

.intro__suptitle{
	font-family: 'Orbitron', sans-serif;
	font-size: 1.938em;
	text-align: center;
	text-transform: uppercase;
	color: yellow;
}

/* members title */
.fam__composition{
	background-image: url(../images/bg2.jpg);
	background-position: center center;    
 	background-repeat: no-repeat;    
  	background-attachment: fixed;    
  	background-size: cover;
	display: flex;
    flex-direction: column;
	justify-content: center;
	width: 100%;
}

.fam__title{
	font-family: 'Spectral', serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.813em;
	color: #fff;
	animation: neon .08s ease-in-out infinite alternate;
}

.pname{
	font-family: 'Spectral', serif;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 1.563em;
	color: #99ccff;
	animation: neon .08s ease-in-out infinite alternate;
}

.ptitle{
	font-family: 'Spectral', serif;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 0.875em;
	color: #99ccff;
	animation: neon .08s ease-in-out infinite alternate;
}

/* members 1/1, 1/4 */
.oneFourth1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 12%;
	border: 0.188em solid gold;
	border-radius: 10%;
}
.oneFourth2{
	width: 24%;
	float: left;
	margin: .5%;
}

.oneFourth2 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 0.188em solid silver;
	border-radius: 10%;
}

/* members other */
.memb__title{
	font-family: 'Spectral', serif;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	font-size: 2.5em;
	color: #99ccff;
	animation: neon .08s ease-in-out infinite alternate;
}

.members{

}

/* Neon */
@-webkit-keyframes neon {
	from {
		text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
	}
	to {
		text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
	}
}
@keyframes neon {
	from {
		text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
	}
	to {
		text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
	}
}
